// Place all the styles related to the towers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-test1{
	background:  url(assets-path("mirai.jpg")) no-repeat;
	width: 120px;
	height: 120x;
	background-size: 120px;
}
