<h1>Bienvenidos al aeropuerto el dorado</h1>

 <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Registro pasajeros', passengers_path %></button><br>

<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Tiquetes', passports_path %></button>
