<h1>Institucion Educativa Gilberto Alzate</h1>

<p>Sean bienvenidos a nuestra institución </P>

<%= link_to 'Profesores', teachers_path %><br>
<%= link_to 'estudiantes', students_path %><br>
<%= link_to 'Asignaturas', subjects_path %><br>
<%= link_to 'Administrador Asignaturas', admin_subjects %>






